// ======================================
//  Banner
// ======================================

.banner {
  height: 300px;
  @include flexy($disp: flex);
  align-content: stretch;
  // PLACEHOLDER IMAGE!!
  background-image: url('https://image.shutterstock.com/z/stock-photo-solar-panel-on-sky-background-548079301.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner__shine-solar,
.banner__shine-home,
.banner__shine-air {
  display: inline-block;
  flex: 1;
}

.banner__shine-solar {
  background-color: rgba(map-get($brand-colors, 'primary'), .9);
}

.banner__shine-home {
  background-color: rgba(map-get($brand-colors, 'secondary'), .9);
}

.banner__shine-air {
  background-color: rgba(map-get($brand-colors, 'tertiary'), .9);
}
