// ======================================
//  Banner
// ======================================

.banner {
  // PLACEHOLDER background image! Replace with correct asset!
  background:
    url('assets/banner.svg'),
    url('https://image.shutterstock.com/z/stock-photo-solar-panel-on-sky-background-548079301.jpg');
  background-size: cover, cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2.5em;
  @include flexy($disp: flex, $just: space-evenly, $align: center);
  position: relative;
  height: 18vw;
}
