// ======================================
//  Card
// ======================================

.card,
.card--grid,
.card--2x2grid {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: $white;
  margin: 0 1.21875em;
  text-align: center;
  padding: 1em;
}

.card--grid {
  display: grid;
  // grid-template-rows: repeat(auto, 3);
  grid-gap: 2px;
  background-color: $main-grid-gap;
  padding: 0;
}

.card--2x2grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2px;
  background-color: $main-grid-gap;
  padding: 0;
}

.card__grid-item--logos {
  padding-bottom: 1em;
}

.card__grid-item--logos,
.card__grid-item--colors,
.card__grid-item--typography {
  background-color: $white;
}

.card__grid-item--colors {
  @media (min-width: 768px) {
    padding: 0 2.62em 2em;
  }
}

.tooltip {
  position: absolute;
  font-family: $font-stack-primary;
  font-size: .8em;
  color: map-get($type-colors, 2);
  border: 1px solid map-get($type-colors, 2);
  border-radius: 4px;
  background-color: map-get($shades, 9);
  transition: 2s opacity;
  padding: .25em .5em;
  width: 136px;
  bottom: 10px;
  left: calc(50% - 68px);
}

.card__grid-item--colors {
  @include flexy($disp: flex, $just: space-evenly, $wrap: wrap);
}

@each $index, $shade in $shades {
  .shades--#{$index} {
    cursor: pointer;
    height: 84px;
    border-radius: 4px;
    max-width: 105px;
    position: relative;
    margin: .5em;
    background-color: $shade;
    flex: 0 1 25%;
  }
}

@each $name, $color in $brand-colors {
  .brand-colors--#{$name} {
    cursor: pointer;
    height: 84px;
    border-radius: 4px;
    margin: .5em 0;
    max-width: 390px;
    flex: 0 1 31%;
    position: relative;
    background-color: $color;
  }
}

@each $index, $color in $other-colors {
  .other-colors--#{$index} {
    cursor: pointer;
    height: 84px;
    border-radius: 4px;
    max-width: 150px;
    position: relative;
    margin: .5em;
    background-color: $color;
    flex: 0 1 25%;
  }
}

@each $index, $color in $type-colors {
  .type-colors--#{$index} {
    cursor: pointer;
    height: 84px;
    border-radius: 4px;
    max-width: 185px;
    position: relative;
    margin: .5em;
    flex: 0 1 25%;
    background-color: $color;
    @if $index == 6 {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.card__grid-item--typography {
  @include flexy($disp: flex, $wrap: wrap, $just: space-evenly);
  text-align: left;
}

.typography__rubik,
.typography__fjalla-one {
  display: grid;
  grid-template-columns: 85px auto;
  grid-template-rows: 60px 44px 40px;
  width: 100%;
  padding: 0 .5em 1em;
  @media (min-width: 768px) {
    padding: 0 1em 2em;
  }
  @media (min-width: 1024px) {
    flex: 0 1 50%;
  }
}

.rubik__header,
.fjalla-one__header,
.card-caption--typography,
.download-btn--typography {
  grid-column: 2 / -1;
}

.rubik--28,
.rubik--22,
.rubik--18,
.rubik--14,
.rubik--12,
.rubik--16,
.rubik--14--sm,
.fjalla-one--44,
.fjalla-one--38,
.fjalla-one--32,
.fjalla-one--26,
.fjalla-one--20,
.fjalla-one--44--orange,
.fjalla-one--38--orange {
  grid-column: 2 / -1;
  margin: .5em auto .5em 0;
  @include flexy($disp: flex, $align: center);
}

.card__grid--icons {
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 125px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-rows: 175px;
  }
  justify-items: center;
  align-items: center;
}
