// ======================================
//  Card
// ======================================

.card {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  background-color: $white;
  margin: 0 1.21875em;
  text-align: center;
  padding: 1em;
}

.card__body {
  font-size: 1.25em;
  font-family: $font-stack-secondary;
  color: map-get($type-colors, 2);
  line-height: 1.5;
  padding: .8em 0;
}

.narrow {
  max-width: 720px;
  margin: auto;
}

.horizontal-list {
  @media (min-width: 768px) {
    @include flexy($disp: flex, $wrap: wrap, $just: center);
  }
}

.horizontal-list li {
  padding: 1em 0;
  margin: 0 2em;
}

.card__logo-grid {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  margin: 0 1.21875em;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2px;
  background-color: $main-grid-gap;
}

.logo-grid__item,
.color-grid__item {
  background-color: $white;
}

.card__color-grid {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  margin: 0 1.21875em;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(auto, 3);
  grid-gap: 2px;
  background-color: $main-grid-gap;
}

.color-grid__item {
  padding: 0 2.62em 2em;
}

.color-grid__item.shades {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 1em;
  justify-items: center;
  div {
    height: 84px;
    border-radius: 4px;
    width: 105px;
  }
  & :first-child {
    grid-column: 1 / -1;
  }
}

@each $index, $shade in $shades {
  .shade-#{$index} {
    background-color: $shade;
  }
}
