// ======================================
//  Images
// ======================================

.banner__icon {
  max-width: 20%;
}

.banner__icon:first-child {
  margin-right: 10%;
}

.banner__icon:last-child {
  margin-left: 10%;
}

.icon-download {
  width: 14px;
  border: 1px solid map-get($type-colors, 3);
  border-radius: 9999%;
  margin: .45em;
}

.icon {
  width: 75px;
  @media (min-width: 768px) {
    width: auto;
  }
}

.logo--sm,
.logo--lg,
.logo--sm--orange,
.logo--lg--orange,
.logo--sm--slate,
.logo--lg--slate,
.logo--sm--blue,
.logo--lg--blue {
  padding: .25em .5em;
  border-radius: 4px;
  @media (min-width: 768px) {
    padding: .5em 1em;
  }
  @media (min-width: 1024px) {
    padding: .75em 1.5em;
  }
}

.logo--sm,
.logo--sm--orange,
.logo--sm--slate,
.logo--sm--blue {
  width: 43%;
  min-width: 140px;
  // max-width: 300px;
}

.logo--lg,
.logo--lg--orange,
.logo--lg--slate,
.logo--lg--blue {
  width: 36%;
  min-width: 119px;
  // max-width: 250px;
}

.logo--sm--orange,
.logo--lg--orange {
  background-color: map-get($brand-colors, 'primary');
}

.logo--sm--slate,
.logo--lg--slate {
  background-color: map-get($brand-colors, 'secondary');
}

.logo--sm--blue,
.logo--lg--blue {
  background-color: map-get($brand-colors, 'tertiary');
}

.photograph {
  width: 90%;
}

// .img--logo,
// .img--avatar {
//   padding: 1em 0;
// }
//
// .img--logo,
// .img--avatar {
//   display: block;
//   margin: 1em auto;
// }
//
// .img--frame {
//   width: 100%;
//   border: 1px solid $color-text-light;
//   padding: 1em;
// }
