// ======================================
//  Images
// ======================================

.banner__icon {
  width: 20%;
  max-width: 240px;
}

.banner__icon:first-child {
  margin-right: 10%;
}

.banner__icon:last-child {
  margin-left: 10%;
}

.icon-download {
  width: 14px;
  border: 1px solid map-get($type-colors, 3);
  border-radius: 9999%;
  margin: .45em;
}

.icon {
  width: 75px;
  @media (min-width: 768px) {
    width: auto;
  }
}

.logo {
  padding: .25em .5em;
  border-radius: 4px;
  @media (min-width: 768px) {
    padding: .5em 1em;
  }
  @media (min-width: 1024px) {
    padding: .75em 1.5em;
  }
}

.logo--sm {
  width: 43%;
  min-width: 140px;
}

.logo--lg {
  width: 36%;
  min-width: 119px;
  // max-width: 250px;
}

.logo--orange {
  background-color: map-get($brand-colors, 'primary');
}

.logo--slate {
  background-color: map-get($brand-colors, 'secondary');
}

.logo--blue {
  background-color: map-get($brand-colors, 'tertiary');
}

.photograph {
  width: 90%;
}

.figure {
  margin: 0;
}
