// ======================================
//  Navigation
// ======================================

.sidebar {
  background-color: map-get($shades, 1);
  text-align: center;
  padding-bottom: 1.0625em;
  @media (min-width: 768px) {
    text-align: left;
    position: fixed;
    width: 250px;
    height: 100%;
  }
}

.header__subtitle {
  @include flexy($disp: flex, $just: center);
  @media (min-width: 768px) {
    justify-content: left;
  }
}

.header__subtitle :nth-child(2) {
  padding: 0 .5em;
  margin: 0 .5em;
  border-left: $nav-border;
  border-right: $nav-border;
}

.nav__item {
  color: map-get($shades, 7);
  &:hover {
    background-color: map-get($shades, 3);
  }
  a {
    display: block;
  }
}

.sidebar__headline,
.header__subtitle {
  color: map-get($type-colors, 3);
}

.sidebar__section {
  margin-top: 3.2em;
}

.header,
.sidebar__section {
  padding: 1.0625em 1.3125em 0;
}

.header {
  border-bottom: $nav-border;
  padding-bottom: .25em;
  margin-bottom: 4.4em;
}

.sidebar__section {
  border-top: $nav-border;
}

.sidebar__headline {
  margin-top: -3em;
}
