// ======================================
//  Navigation
// ======================================

.sidebar {
  background-color: map-get($shades, 1);
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
}

.nav__item {
  color: map-get($shades, 7);
  &:hover {
    background-color: map-get($shades, 3);
  }
  a {
    display: block;
  }
}

.sidebar__headline,
.header__subtitle {
  color: map-get($type-colors, 3);
}

.sidebar__section {
  margin: 3.2em 0;
}

.header,
.sidebar__section {
  padding: 1.0625em 1.3125em 0;
}

.header {
  border-bottom: $nav-border;
  padding-bottom: .25em;
  margin-bottom: 4.4em;
}

.sidebar__section {
  border-top: $nav-border;
}

.sidebar__headline {
  margin-top: -3em;
}

// .nav {
//   padding: 0;
//   margin: 2em 0;
//   @include mq('med') {
//     @include flexy;
//   }
// }
//
// .nav__item {
//   text-align: center;
//   margin: .5em 0;
//   a {
//     color: $color-text-dark;
//     text-decoration: none;
//     display: block;
//     border-radius: 4px;
//     padding: 1em;
//     &:hover {
//       background-color: $color-primary;
//       color: $white;
//     }
//   }
// }
