// ======================================
//  Navigation
// ======================================

.sidebar {
  background-color: map-get($shades, 1);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 94px;
  overflow-y: hidden;
  transition: 1s height;
  z-index: 100;
  @include flexy($disp: flex, $wrap: wrap, $just: space-evenly);
  padding-bottom: .8rem;
}

#checkbox--nav:checked + .sidebar {
  height: 371px;
}

#checkbox--nav:checked + .sidebar,
#checkbox--nav + .sidebar {
  @media (min-width: 768px) {
    transition: none;
    display: block;
    text-align: left;
    // position: fixed;
    width: 250px;
    height: 100%;
    padding-bottom: 1.7rem;
  }
}

#checkbox--nav {
  position: fixed;
  top: 0;
  left: 0;
  // z-index: 100; // debug
  visibility: hidden;
}

.header__subtitle {
  @include flexy($disp: flex, $just: center);
  @media (min-width: 768px) {
    justify-content: left;
  }
}

.header__subtitle :nth-child(2) {
  padding: 0 .6rem;
  margin: 0 .6rem;
  border-left: $nav-border;
  border-right: $nav-border;
}

.navigation__list__item {
  color: map-get($shades, 7);
  &:hover {
    background-color: map-get($shades, 3);
  }
  a {
    display: block;
  }
  @media (min-width: 768px) {
    padding-left: 2.1rem;
  }
}

.sidebar__headline,
.header__subtitle {
  color: map-get($type-colors, 3);
}

.sidebar__section {
  margin-top: 5.12rem;
  border-top: $nav-border;
  padding: 1.7rem 0 0;
  flex: 0 1 35%;
  @media (min-width: 768px) {
    margin-top: 5.1rem;
  }
}

.header {
  border-bottom: $nav-border;
  padding: 1.7rem 2.1rem 0;
  width: 100%;
  @media (min-width: 768px) {
    margin-bottom: 7rem;
    padding-bottom: 1.6rem;
  }
}

.sidebar__headline {
  margin-top: -3.2rem;
  @media (min-width: 768px) {
    padding-left: 2.1rem;
  }
}

.sidebar__burger-btn {
  cursor: pointer;
  color: $white;
  display: block;
  padding: .8rem 0;
  font-size: 1.6rem;
  @media (min-width: 768px) {
    display: none;
  }
}
