// ======================================
//  Typography
// ======================================
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rubik&display=swap');

.card__body {
  font-size: 1.6rem;
  padding: .8rem 0;
  line-height: 1.5;
  font-family: $font-stack-secondary;
  color: map-get($type-colors, 2);
  @media (min-width: 768px) {
    font-size: 2rem;
    padding: 1.6rem 0;
  }
}

.card__body--narrow {
  max-width: 720px;
  margin: auto;
}

.card__body--short {
  margin: 0 auto;
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}

.horizontal-list {
  margin: 0;
  @media (min-width: 768px) {
    @include flexy($disp: flex, $wrap: wrap, $just: center);
  }
}

.horizontal-list li {
  margin: 0 3.2rem;
  padding: .8rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
}

.color--white {
  color: $white;
}

.color--primary {
  color: map-get($brand-colors, 'primary');
}

.header {
  font-family: $font-stack-secondary;
}

.header__title {
  font-size: 2.6rem;
  margin: 0;
}

.header__subtitle {
  font-size: 1.2rem;
  margin: 0;
}

.sidebar__headline,
.navigation__list__item {
  font-family: $font-stack-primary;
}

.sidebar__headline {
  font-size: 1.1rem;
}

.navigation__list__item {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.14;
}

.headline {
  font-family: $font-stack-secondary;
}

.headline--secondary {
  color: map-get($type-colors, 2);
  line-height: 1.54;
  border-top: $main-border;
  border-bottom: $main-border;
  font-size: 2.2rem;
  padding: .8rem;
  @media (min-width: 768px) {
    font-size: 2.6rem;
    padding-left: 2rem;
  }
}

.headline--primary {
  color: map-get($type-colors, 4);
  margin: 0;
  padding: 1.6rem 0;
  font-size: 3.4rem;
  @media (min-width: 768px) {
    font-size: 4.4rem;
  }
}

.section-caption {
  font-family: $font-stack-primary;
  font-size: 1.8rem;
  margin: .8rem 0;
  color: map-get($type-colors, 2);
  padding: 0 .8rem;
  @media (min-width: 768px) {
    padding: 0 2rem;
  }
}

.card-caption {
  font-family: $font-stack-primary;
  font-size: 1.4rem;
  line-height: 2.86;
  color: map-get($type-colors, 3);
}

.card-caption--short {
  margin: 0;
}

.card-caption--typography {
  @include flexy($disp: flex, $align: center);
}

.card-caption--full-width,
.card-caption--photograph {
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
}

.card-caption--photograph {
  line-height: 2;
}

.card-caption--size-label {
  font-family: $font-stack-primary;
  font-size: 1.2rem;
  line-height: 1;
  @include flexy($disp: flex, $align: center);
  margin-left: auto;
  min-width: 75px;
}

.color-caption {
  font-family: $font-stack-primary;
  font-size: 1.1rem;
  color: rgba($white, .7);
}

.color-caption--dark {
  color: map-get($shades, 3);
}

.rubik__header,
.fjalla-one__header {
  font-size: 5.4rem;
  color: map-get($type-colors, 2);
  margin: 0;
}

.rubik__header {
  font-family: $font-stack-primary;
}

.fjalla-one__header {
  font-family: $font-stack-secondary;
}

.rubik,
.fjalla-one {
  color: map-get($type-colors, 2);
  grid-column: 2 / -1;
  margin: 1.4rem auto 1.4rem 0;
  @include flexy($disp: flex, $align: center);
}

.rubik {
  font-family: $font-stack-primary;
}

.fjalla-one {
  font-family: $font-stack-secondary;
}

.fjalla-one--44--orange,
.fjalla-one--38--orange {
  color: map-get($type-colors, 4);
}

.rubik--28 {
  font-size: 2.8rem;
}

.rubik--22 {
  font-size: 2.2rem;
}

.rubik--18 {
  font-size: 1.8rem;
}

.rubik--14,
.rubik--14--sm {
  font-size: 1.4rem;
}

.rubik--12 {
  font-size: 1.2rem;
}

.rubik--16 {
  line-height: 1.5;
}

.rubik--14--sm {
  line-height: 1.83;
}

.fjalla-one--44,
.fjalla-one--44--orange {
  font-size: 4.4rem;
}

.fjalla-one--38,
.fjalla-one--38--orange {
  font-size: 3.8rem;
}

.fjalla-one--32 {
  font-size: 3.2rem;
}

.fjalla-one--26 {
  font-size: 2.6rem;
}

.fjalla-one--20 {
  font-size: 2rem;
}
