// ======================================
//  Typography
// ======================================
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rubik&display=swap');

.card__body,
.card__body--narrow,
.card__body--short,
.card__body--narrow--short {
  font-size: 1em;
  padding: .5em 0;
  line-height: 1.5;
  font-family: $font-stack-secondary;
  color: map-get($type-colors, 2);
  @media (min-width: 768px) {
    font-size: 1.25em;
    padding: .8em 0;
  }
}

.card__body--narrow,
.card__body--narrow--short {
  max-width: 720px;
  margin: auto;
}

.card__body--short,
.card__body--narrow--short {
  margin: 0 auto;
  @media (min-width: 768px) {
    font-size: 1.125em;
  }
}

.horizontal-list {
  margin: 0;
  @media (min-width: 768px) {
    @include flexy($disp: flex, $wrap: wrap, $just: center);
  }
}

.horizontal-list li {
  margin: 0 2em;
  padding: .5em 0;
  @media (min-width: 768px) {
    padding: 1em 0;
  }
}

.color--white {
  color: $white;
}

.color--primary {
  color: map-get($brand-colors, 'primary');
}

.header {
  font-family: $font-stack-secondary;
}

.header__title {
  font-size: 1.625em;
  margin: 0;
}

.header__subtitle {
  font-size: .75em;
  margin: 0;
}

.sidebar__headline,
.nav__item {
  font-family: $font-stack-primary;
}

.sidebar__headline {
  font-size: .6875em;
}

.nav__item {
  font-size: .875em;
  font-weight: 500;
  line-height: 2.14;
}

.headline--secondary {
  font-family: $font-stack-secondary;
  color: map-get($type-colors, 2);
  line-height: 1.54;
  border-top: $main-border;
  border-bottom: $main-border;
  padding: .5em .75em;
  font-size: 1.3em;
  @media (min-width: 768px) {
    font-size: 1.625em;
  }
}

.headline--primary {
  font-family: $font-stack-secondary;
  color: map-get($type-colors, 4);
  margin: 0;
  padding: .3636363em 0;
  font-size: 2.1em;
  @media (min-width: 768px) {
    font-size: 2.75em;
  }
}

.section-caption {
  font-family: $font-stack-primary;
  font-size: 1.125em;
  padding: 0 1.25em;
  margin: .5em 0;
  color: map-get($type-colors, 2);
}

.card-caption,
.card-caption--short,
.card-caption--full-width,
.card-caption--typography,
.card-caption--size-label,
.card-caption--photograph,
.card-caption--photograph-downloads {
  font-family: $font-stack-primary;
  font-size: .875em;
  line-height: 2.86;
  color: map-get($type-colors, 3);
}

.card-caption--short {
  margin: 0;
}

.card-caption--photograph-downloads {
  margin: 0;
}

.card-caption--typography {
  @include flexy($disp: flex, $align: center);
}

.card-caption--full-width,
.card-caption--photograph {
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
}

.card-caption--photograph {
  line-height: 2;
}

.card-caption--size-label {
  font-family: $font-stack-primary;
  font-size: .75em;
  line-height: 1;
  @include flexy($disp: flex, $align: center);
  margin-left: auto;
  min-width: 75px;
}

.color-caption,
.color-caption--dark {
  font-family: $font-stack-primary;
  font-size: .6875em;
  color: rgba($white, .7);
}

.color-caption--dark {
  color: map-get($shades, 3);
}

.rubik__header,
.fjalla-one__header {
  font-size: 3.375em;
  color: map-get($type-colors, 2);
  margin: 0;
}

.rubik__header {
  font-family: $font-stack-primary;
}

.fjalla-one__header {
  font-family: $font-stack-secondary;
}

.rubik--28,
.rubik--22,
.rubik--18,
.rubik--14,
.rubik--12,
.rubik--16,
.rubik--14--sm,
.fjalla-one--44,
.fjalla-one--38,
.fjalla-one--32,
.fjalla-one--26,
.fjalla-one--20 {
  color: map-get($type-colors, 2);
}

.rubik--28,
.rubik--22,
.rubik--18,
.rubik--14,
.rubik--12,
.rubik--16,
.rubik--14--sm {
  font-family: $font-stack-primary;
}

.fjalla-one--44,
.fjalla-one--38,
.fjalla-one--32,
.fjalla-one--26,
.fjalla-one--20,
.fjalla-one--44--orange,
.fjalla-one--38--orange {
  font-family: $font-stack-secondary;
}

.fjalla-one--44--orange,
.fjalla-one--38--orange {
  color: map-get($type-colors, 4);
}

.rubik--28 {
  font-size: 1.75em;
}

.rubik--22 {
  font-size: 1.375em;
}

.rubik--18 {
  font-size: 1.125em;
}

.rubik--14,
.rubik--14--sm {
  font-size: .875em;
}

.rubik--12 {
  font-size: .75em;
}

.rubik--16 {
  line-height: 1.5;
}

.rubik--14--sm {
  line-height: 1.83;
}

.fjalla-one--44,
.fjalla-one--44--orange {
  font-size: 2.75em;
}

.fjalla-one--38,
.fjalla-one--38--orange {
  font-size: 2.375em;
}

.fjalla-one--32 {
  font-size: 2em;
}

.fjalla-one--26 {
  font-size: 1.625em;
}

.fjalla-one--20 {
  font-size: 1.25em;
}
