// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$shades: (
  1:  #303d46,
  2:  #425563,
  3:  #485d6c,
  4:  #667b8a,
  5:  #8697a4,
  6:  #b1bbc2,
  7:  #d3d8dc,
  8:  #e0e3e5,
  9:  #eceeef,
  10: #f5f6f7
);

$brand-colors: (
  'primary': #ff6900,
  'secondary': #425563,
  'tertiary': #1bd0ff
);

$other-colors: (
  1: #2485e1,
  2: #1bd0ff,
  3: #3dca59,
  4: #facb34,
  5: #ff920b,
  6: #f54700,
  7: #e03486
);

$type-colors: (
  1: #303d46,
  2: #425563,
  3: #7d8d9a,
  4: #ff6900,
  5: #1bd0ff,
  6: #fff
);

// Fonts
$font-stack-primary: 'Rubik', sans-serif;
$font-stack-secondary: 'Fjalla One', sans-serif;

// Borders
$nav-border: 1px solid rgba(255, 255, 255, .1);
$main-border: 1px solid map-get($shades, 8);

// Grid Gap
$main-grid-gap: map-get($shades, 9);

// --white-50: rgba(255, 255, 255, 0.5);
// --bright-light-blue: #37c4e9;
// --slate-two: #435664;
// --deep-sky-blue: #2485e1;
// --slate-four: #506676;

// Colors
// $white: #fff;
//
// $color-primary: #4eddb9;
//
// $color-text: #757575;
// $color-text-dark: darken($color-text, 10%);
// $color-text-light: lighten($color-text, 10%);

// Fonts
// $font-stack: "Open Sans", Helvetica, sans-serif;

// Theme colors
// $btn-themes: (
//   'default': #47d8fc,
//   'success': #58c577,
//     'error': #e0696f,
//   'warning': #fd6c4c,
//      'info': #8770b9,
// );

// $grid-themes: (
//   12: lighten(adjust-hue(map-get($btn-themes, 'default'), -25deg), 10%),
//    6: darken(map-get($btn-themes, 'default'), 10%),
//    4: lighten(map-get($btn-themes, 'default'), 10%),
//    3: lighten(map-get($btn-themes, 'info'), 10%),
//    5: lighten(map-get($btn-themes, 'success'), 10%),
//    7: lighten(map-get($btn-themes, 'error'), 10%),
//    8: lighten(map-get($btn-themes, 'warning'), 10%),
//    9: lighten(map-get($btn-themes, 'warning'), 20%),
// );

// Layout
// $max-width: 1400px;
// $gutter: 10px;

// Breakpoints
// $breakpoints: (
//   'xs': 575px,
//   'sm': 576px,
//  'med': 768px,
//   'lg': 992px,
// );
