// ======================================
//  Base
// ======================================

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

main {
  padding-bottom: 4em;
  top: 100px;
  position: absolute;
  @media (min-width: 768px) {
    left: 250px;
    top: 0;
  }
}
